{% extends 'base.html' %}

{% block header %}
    {% include 'nav.html' %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="card mt-2" style="margin: 2px 16px; border-radius: 0 0 8px 8px;">
                <div class="card-body" style="border-radius: 0">
                    <h3>My Profile </h3>
                    <p>First Name: {{ request.user.first_name }}</p>
                    <p>Last Name: {{ request.user.last_name }}</p>
                    <p>Username: {{ request.user.username }}</p>
                    <p>Email: {{ request.user.email }}</p>
                    <p>Status: {% if request.user.is_active %} Active {% else %} Not Active{% endif %}</p>
                    <p>Last Login: {{ request.user.last_login }}</p>
                    <a href="/profile/edit/">Edit</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}